#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.small-text-box {
  margin: 0 20px;
  height: 30px;
}

.btn {
  margin: 10px;
  margin-left: 177px;
}

.form-lable {
  display: inline-block;
}

.lable2 {
  padding-left: 165px;
}

.form-header {
  padding-top: 20px;
}